/*This is the styling for my tiny strangers web page */

h1 {
    color: red; 
    background-color: aqua; 
    border:1rem solid; 
    transform: rotate(0.005turn);
}

p,
dl {
    color:blueviolet;
}

li {
    list-style-type: square;
}

.special {
    color:coral;
    font-weight: bold;
}

li em {
    color:rebeccapurple;
}

a:link {
    color:red;
}

a:visited {
    color:aqua;
}

a:hover {
    text-decoration: none;
}

dl dt strong {
    color:blue;
}

@media (min-width: 30em) {
    body {
      background-color: white;}
    }
tr {
    display: block;
    background-color: bisque;
    /* border: 10px; */
    border-color: black;
    padding: 4px;
}
.flower {
    border: 10em;
    border-color: black;
} /* Don't know why I am not getting a border for this part */