body {
    background-color: black;
}

/* Start Section !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Start screen with start button, customize and ball selector button, and a settings menu. */
.start {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    color: aqua;
    display: block;
    /* background-color: transparent; */
    /* text-align: center; */
    /* display: grid; */
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
}

#title {
    /* width: 100%;
    height: 30%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */
    top: 100px;
    /* font-size: 700%;
    overflow: visible;
    animation-name: titleAn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-shadow: 2px 2px 5px crimson; */
    /* width: ; */
}

.largeText { /* This is a style class to replicate the title */
    width: 100%;
    height: 30%;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    /* top: 100px; */
    font-size: 700%;
    overflow: visible;
    animation-name: textAn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-shadow: 2px 2px 5px crimson;
}

@keyframes textAn {
    50% {
        font-size: 720%;
        color: crimson;
    }
    100% {
        font-size: 700%;
        color: aqua;
    }

}

.start button{
    /* width: 100px;
    height: 30px; */
    font-weight: 700;
    font-size:x-large;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 20px;
    background-color: transparent;
    display: block;
    cursor: pointer;
    transition: all 1s;
    border-style: none;
    text-shadow: 2px 2px 5px crimson;
    /* border-color: black;
    border-radius: 5px; */
    
    color: crimson;
    /* animation-name: button;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal; */
    
}

/* @keyframes button {
    50% {
        font-size: large;
        color:aqua
    }
    100% {
        font-size: x-large;
        color:crimson;
        
    }

}  */

.start button:hover {
    color: aqua;
    /* box-shadow: 0px 0px 8px 8px crimson;    Maybe will add this back!!!!!!!!????
    border-style: solid;
    border-radius: 30px;
    border-color: crimson;
    background-color: crimson; */
    text-shadow: 2px 2px 5px aqua;
}

#startButton {
    width: auto;
    
}

#customizeButton {
    width: auto;

}

.customize {
    display: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 800px;
    height: 600px; */
    color: aqua;
    /* display: block; */
    /* background-color: azure; */
}

#customizeTitle {
    animation: none;
}

.customButtonsLayout {
    /* background-color: blueviolet; */
    position: absolute;
    top: 45%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 300px;
    width: 100%;
}

.customize h2 {
    font-weight: 700;
    font-size:x-large;
    text-align: center;
    margin-top: 20px;
    /* background-color: rgb(0, 0, 0); */
    /* display: block; */
    cursor:default;
    transition: all 1s;
    border-style: none;
    text-shadow: 2px 2px 5px crimson;
    color: aqua; 
}

#back {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 700;
    font-size:x-large;        
    text-align: center;
    margin-top: 20px;
    background-color:transparent;
    cursor: pointer;
    transition: all 1s;
    border-style: none;
    text-shadow: 2px 2px 5px crimson;
    color: crimson; 

}

#back:hover {
    color: aqua;
    text-shadow: 2px 2px 5px aqua;
}

.colors {
    cursor: pointer;
    background-color: coral;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
}

.colors:hover {
    box-shadow:  0px 0px 8px rgb(255, 255, 255);
}

#ballColorsGrid {
    /* background-color: cornflowerblue; */
    width: 330px;
    height: 200px;
    position: absolute;
    top: 400px;
    left: 26%;
}

#bgColorsGrid {
    /* background-color: cornflowerblue; */
    width: 330px;
    height: 200px;
    position: absolute;
    top: 400px;
    left: 51.5%;
}

#ballForCustom {
    border-style: solid;
    border-radius: 100%;
    padding: 20px;
    height: 30px;
    width: 30px;
    /* color: white; */
    border-color: black;
    background-color: aqua;
    cursor: pointer;
    position: absolute;
    top: 22.5%;
    left: 37.5%; 
    transform: translate(-50%, -50%);
}


/* Main Game !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* This will include the random positioned balls, the click interaction, the score board, a timer, and maybe I can implement my own audio */

.mainGame {
    display: none;
}

#ballsBut {
    border-style: solid;
    border-radius: 100%;
    padding: 20px;
    height: 100px;
    width: 100px;
    color: white;
    border-color: black;
    background-color: aqua;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%; 
    /* transform: translate(-50%, -50%); the position will become randomly generated!!!!!!!! */
}

#score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    color: aqua;
}

#addedTime {
    display: none;
    position: absolute;
    background-color: transparent;
    left: 55%;
    top: 6%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    font-size: 200%;
    animation: none;
    color: crimson;
}

#timer {
    width: 100%;
    height: 30%;
    color: aqua;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-align: center;
    top: -10px;
    font-size: 300%;
    overflow: visible;
    animation-name: timerAn;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-shadow: 2px 2px 5px crimson;
}

@keyframes timerAn {
    50% {
        font-size: 320%;
        color: crimson;
    }
    100% {
        font-size: 300%;
        color: aqua;
    }

}
/* Could bring this back if change animation ????????????????? */
/* @keyframes scoreAn {
    50% {
        font-size: 720%;
        color: crimson;
    }
    100% {
        font-size: 700%;
        color: aqua;
    }

} */


/* Ending Screen !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* This will include the end game screen with a larger display of the score, a button that goes to the home screen, and a button that restarts the game. */
.end {
    display: none;
    /* width: 800px;
    height: 600px; */
}

#endScore {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 200px;
    color: aqua;
}

.end button {
    /* width: 100px;
    height: 30px; */
    font-weight: 700;
    font-size:x-large;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 20px;
    background-color: transparent;
    display: block;
    cursor: pointer;
    transition: all 1s;
    border-style: none;
    text-shadow: 2px 2px 5px crimson;
    /* border-color: black;
    border-radius: 5px; */
    
    color: crimson;
}

.end button:hover {
    color: aqua;
    text-shadow: 2px 2px 5px aqua;
}

#homeReturn {
    width: auto;
    top: 390px;
}

#restart {
    width: auto;
    top: 400px;

}