#myDiv {
    align-self: center;
    height: 75px;
    width: 75px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 1px;
    border-top-left-radius: 10px;
    border-color: black;
}
  
#content {
    /* height: 803px; 
    width: 803px; */
    height: 4000px;
    width: 4000px;
    background-color: coral;
    transition: all 0.5s;
    /* top: 0;
    left: 0; */
}

body {
    background-color: white;
    transition: all 0.5s;
}  

.numb {
    position: absolute;
    background-color: red;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    position: sticky;
    top: 0px;
    /* left: 50%;
    transform: translate(-50%, -50%); */
    width: fit-content;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
}

#volume {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    position: sticky;
    /* top: 0px; */
    /* width: 200px; */
    width: fit-content;
    /* right: 100px; */
    /* align-content: center; */
    /* right: 50%;
    transform: translate(-50%); */
    padding: 10px;
    /* margin-top: 5px; */
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
}

#demo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    position: sticky;
    /* top: 0px; */
    width: 200px;
    /* right: 100px; */
    /* align-content: center; */
    /* transform: translate(-50%, -50%);  */
    padding: 10px;
    /* margin-top: 5px; */
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
}