/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }

  /* */
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;/* changed colour to color */
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card article img {
    max-height: 100%;
    background-color: black;
    float: right;
  }

  .card header, .card footer {
    height: 3em;
    padding: 1em;
  } 
  
  .card h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
  }

  .card p {
    margin: 0;
    padding: 1em;
  }

  .card footer p {
    font-size: 1.5em;
    padding:0.5em;
    height: 3em;
  }

  .card article p {
    padding: 2em;
    padding-left: 1em;
    color: white;
  }

  .card article {
    background-color: rgba(0,0,0,0.3); 
    height: 12em;
  }

/* Add comments explaing the header: Header has the Arial Font, a height of 3em, and padding of 1em. The h2 within the header has a font size of 2em, a line height of 1.5em, and a margin of 0. */

/* Add comments explaing the footer: Card footer has a linear gradiant and a border of 1.5 em. Its height is 3em and the padding is 1em. The footers p has a font-size of 1.5em, a padding of 0.5em, and a height of 3em. */

/* Add comments explaing the main body: The card main body has a semi-transparent black two seperate the header and footer. The height of the body is 12ems. The bodys p element has a padding of 2em, left padding of 1em, and a font color of white. The image within the body is contrained within the body and floats to the right side. */

/* Card 2 for McLovin */

  .card2 {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(255, 255, 255);/* changed colour to color */
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card2 header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card2 footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card2 article img {
    max-height: 100%;
    background-color: black;
    /* height:12em; */
    float: right;
  }

  .card2 header, .card2 footer {
    height: 3em;
    padding: 1em;
  } 
  
  .card2 h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: darkblue;
    line-height: 1em;
    margin: 0;
  }

  .card2 p {
    margin: 0;
    padding: 1em;
  }

  .card2 footer p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
    font-size: 2em;
    line-height: .5em;
    padding:0.5em;
    
  }

  .card2 article p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .75em;
    padding-left: 1em;
    color: rgb(0, 0, 0);
    line-height: 1.5em;
  }

  .card2 article {
    background-color: rgba(99, 106, 143, 0.3); 
    height: 12em;
  }

/* Add comments explaing the header: The header is a Franklin Gothic Medium font, with a light black coloring behind it, a height of 3em and a padding of 1em, and a font color of dark blue. */

/* Add comments explaing the footer: The footer has dark blue text in the same font as the header, a font-size of 2em, a line height of 1.5em, and a height of 3em.*/

/* Add comments explaing the main body: The main body has a slightly blue grey transperent background color with a height of 12em. The footers font is the same as the other fonts but with a black font color. The margin of the paragraph element is zero and the line height is 1.5em. */